@import "tailwindcss";

@theme {
  --color-background: #fdf8f6;
  --color-foreground: #78614D;

  --color-darlington: #ACCAB2;
  --color-beeswax: #E9A752;
  --color-grenadine: #D44720;
  --color-cafelatte: #78614D;

  --font-display: 'Syne', sans-serif;
  --font-body: 'Inter', sans-serif;
}

/* Base Styles */
body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-display);
  font-weight: 700;
  text-transform: uppercase;
}

/* Base Styles */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-display);
  font-weight: 700;
  text-transform: uppercase;
}